/*
!.gitignore
!.alacritty.toml
!.zshrc
!.hushlogin
!.tmux.conf
!.ideavimrc

!.zshrc

.config/*
!.config/
.config/nvim/*
!.config/nvim/
.config/nvim/lua/*
!.config/nvim/lua/
.config/nvim/lua/custom/*
!.config/nvim/lua/custom/
!.config/nvim/lua/custom/**
.config/.oh-my-zsh/*
!.config/.oh-my-zsh/
.config/.oh-my-zsh/themes/*
!.config/.oh-my-zsh/themes/
!.config/.oh-my-zsh/themes/my.zsh-theme
